* {
	margin:0;
	padding:0;
}
BODY {
         font-family: arial;
}
.header {
        font-size: 13pt;
	color: #444444;
	font-weight: bold;
}
.auth_header {
        font-size: 13pt;
        color: #444444;
        font-weight: bold;
	text-align:center;
}
.main {
        font-size:9pt;
        color: blue;
        font-weight: bold;	
	padding-left: 20px;
	padding-right: 20px;
        text-align:justify;
}
.main_help {
	font-size:9pt;
        color: blue;
        padding-left: 10px;
        padding-right: 10px;
        text-align:justify;
}

.message {
        font-family: arial;
        font-size: 8pt;
	color: #ff0000;
	
	text-align: justify;
}
.error {
        font-family: Verdana,Helvetica;
        font-size: 8pt;
	color: #ff0000;
	font-weight: bold;
}

.lowerfiller {
	height: 8px;
}

.lowerfiller2 {
        height: 4px;
}


.name {
        font-size: 9pt;
	font-weight: bold;
	padding-left: 20px;
	width: 40%;
}
.auth_name {
	font-size: 9pt;
        padding-left: 10px;
        width: 170px;
}

.password_input{
        font-size: 10pt;
	width:195px;
	line-height:15px;
}

.auth_link
{
	padding-left: 10px;
	font-size:8pt;
}
.auth_message
{
        padding-left: 10px;
	font-weight:bold;
	color:blue;
	font-size:8pt;
}

.transname {
        font-size: 8pt;
	font-weight: bold;
	width: 170px;
	text-align: right;
	padding-right: 10px;
	color:#7F7F7F;
}
.button {
        font-family: Verdana,Helvetica;
        font-size: 8pt;
}
.pam{
	width:60px;
}
.value {
        font-family: Verdana,Helvetica;
        font-size: 8pt;
	font-weight: bold;
	text-align: left;
	width:50%;
}

.transvalue {
        font-family: Verdana,Helvetica;
        font-size: 8pt;
	font-weight: bold;
	text-align: left;
	color:#7F7F7F;
}

.label {
        font-family: Verdana,Helvetica;
        font-size: 9pt;
}
.label_mdp{
	font-family: Verdana,Helvetica;
	font-weight:bold;
        color:blue;
        font-size: 9pt;
	height:5px;

}
.default {
        font-family: Verdana,Helvetica;
        font-size: 9pt;
        color: #999999;
        text-align: justify;
}
.linkcaption {
        font-family: Verdana,Helvetica;
        font-size: 9pt;
        color: #cccccc;
}
.link {
        font-family: Verdana,Helvetica;
        font-size: 9pt;
}
.ques{
	width:190px;
        font-size: 8pt;
	text-align:justify;
}
.maintable{
	width: 385px;
	height: 390px;
	border: thin solid;
	border-width:1;
	border-color:#000000;
	background-color:#ffffff;
	border-spacing:0;
}

