/* Structure globale */
body {
	font-size: 18px;
}

#header-block {
	height: 65px;
	margin: 0 0 10px 0;
	padding: 10px 0 5px;
}

#header {
	max-width: 800px;
	margin: 0 auto;
	height: 60px;
	text-align: center;
}

#logo-left {
	float: left;
	margin-left: 5px;
	height: 60px;
}

#logo-right {
	float: right;
	height: 60px;
}

.language {
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 5px;
}

.language:hover,#help-link:hover,#spare-link:hover {
	text-decoration: underline;
}

.active {
	border-radius: 3px;
	padding: 0 5px 2px;
}

#help-link {
	margin-left: 10px;
	text-decoration: none;
}

#main-block {
	max-width: 800px;
	margin: auto;
}

.error {
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	color: red;
}

.title>table,.title>p {
	margin: 0;
	padding: 5px 10px;
}

#context {
	padding: 5px 0;
	font-size: 0.7em;
}

#context>p {
	padding: 0 10px;
}

#context {
	line-height: 2;
}

.label-context {
	float: right;
	margin-right: 25px;
}

#buttons {
	margin-top: 10px;
	padding: 0 5px;
	text-align: center;
}

#btn_ok,#cancel {
	font-size: 0.7em;
	min-width: 170px;
	padding: 10px 5px;
	text-decoration: none;
}

.paymentoptions-circle {
	border-radius: 50%;
	display: inline-block;
	height: 90px;
	margin-right: 10px;
	position: relative;
	vertical-align: middle;
	width: 90px;
}

.paymentoptions-circle-big {
	border-radius: 50%;
	display: inline-block;
	height: 180px;
	margin-right: 12px;
	position: relative;
	vertical-align: middle;
	width: 180px;
}

.paymentoptions-circle>img {
	height: 60px;
	margin: 15px auto 0;
	display: block;
}

.paymentoptions-circle-big>img {
	height: 130px;
	margin: 25px auto 0;
	display: block;
}

.step {
	padding: 5px 0 10px;
	line-height: 2;
	font-size: 0.7em
}

#qr-code {
	width: 180px;
}

#ucr-img {
	width: 90px;
}

ol {
	padding-left: 0;
	margin: 0;
}

.v-2-block {
	padding: 40px 15px;
}

.v-3-block {
	padding: 15px;
}

.icon_ucr {
	vertical-align: middle;
}

.text-choice {
	display: inline-block;
	vertical-align: middle;
	width: 45%;
	font-size: 0.9em;
}

.text-choice-detail {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.7em;
}

#choice1>.text-choice {
	width: 100%;
}

#text-choice1 {
	display: inline-block;
	font-size: 0.9em;
	width: 70%;
	margin: 0;
}

#choice {
	margin-top: 10px;
	overflow: hidden;
}

#text-choice-more {
	font-size: 0.7em;
	margin-top: 0;
}

.arrow-right {
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	padding: 10px;
	margin-left: 10px;
}

#choice1 {
	padding: 30px 0;
	width: 250px;
	/*height : 350px;*/
	margin: auto;
	text-align: center;
}

#qr-block,#loading,#ucr-block {
	width: 33%;
	margin: auto;
	text-align: center;
	float: left;
}

#instructions,#instructions-ucr {
	float: left;
	width: 66%
}

#urlint-block {
	padding-top: 10px;
	width: 100%;
	text-align: center;
}

#urlint-loading {
	margin: auto;
}

.urlint-text,.refusal-text {
	font-size: 0.8em;
	line-height: 2;
	padding: 5px;
}

.urlint-text {
	text-align: center;
}

#frameLuxtrust {
	width: 100%;
	height: 200px;
}

@media ( max-width : 700px) and (min-width: 601px) {
	.paymentoptions-circle>img {
		height: 50px;
		margin: 15px auto 0;
	}
	.paymentoptions-circle {
		height: 80px;
		width: 80px;
	}
	.paymentoptions-circle-big {
		height: 130px;
		width: 130px;
	}
	.paymentoptions-circle-big>img {
		height: 90px;
		margin: 20px auto 0;
	}
	.arrow-right {
		height: 15px;
		padding: 8px;
		margin-left: 10px;
	}
	#choice1 {
		padding: 10px;
		height: 300px;
		width: 180px;
	}
	#block-choice1 {
		padding-top: 20px;
	}
}

@media ( max-width : 600px) and (min-width: 451px) {
	#links {
		font-size: 0.9em;
		margin: 20px 20px 0 0;
	}
	.paymentoptions-circle>img {
		height: 40px;
		margin: 10px auto 0;
	}
	.paymentoptions-circle {
		height: 60px;
		width: 60px;
	}
	.paymentoptions-circle-big {
		height: 110px;
		width: 110px;
	}
	.paymentoptions-circle-big>img {
		height: 80px;
		margin: 15px auto 0;
	}
	.arrow-right {
		height: 15px;
		padding: 10px;
		margin-left: 10px;
	}
	#choice1 {
		padding: 10px;
		height: 250px;
		width: 180px;
	}
	.step {
		padding: 5px 0 5px;
		line-height: 1.5;
	}
	#qr-code {
		width: 120px;
	}
	#ucr-img {
		width: 90px;
	}
	#frameLuxtrust {
		width: 100%;
		height: 100%;
	}
}

@media ( max-width : 450px) {
	body {
		font-size: 16px;
	}
	#header-block {
		height: 45px;
		margin-bottom: 0;
		padding: 2px 0 2px 0;
	}
	#header {
		height: 45px;
	}
	#context,.instruction {
		line-height: 1.2;
	}
	#links {
		font-size: 0.7em;
		margin: 15px 15px 0 0;
	}
	.title>table,.title>p {
		margin: 0;
		padding: 2px 10px;
		font-size: 0.9em;
	}
	.language {
		margin: 0 1px;
	}
	#logo-left {
		height: 40px;
	}
	#logo-right {
		height: 40px;
	}
	#error>p {
		padding: 5px;
	}
	#buttons {
		text-align: middle;
	}
	.paymentoptions-circle>img {
		height: 30px;
		margin: 5px auto 0;
	}
	.paymentoptions-circle {
		height: 40px;
		width: 40px;
	}
	.paymentoptions-circle-big {
		height: 70px;
		width: 70px;
	}
	.paymentoptions-circle-big>img {
		height: 60px;
		margin: 5px auto 0;
	}
	.arrow-right {
		height: 10px;
		padding: 5px;
		margin-left: 5px;
	}
	#choice {
		margin-top: 0;
	}
	#choice1 {
		padding: 5px 0;
		/*height:150px;*/
		width: 150px;
	}
	.step {
		padding: 1px 0 1px;
		line-height: 1.5;
	}
	#qr-code {
		width: 110px;
	}
	#ucr-block {
		display: none;
	}
	#instructions-ucr {
		width: 100%;
	}
	#text-choice1,#text-choice2 {
		display: none;
	}
	.v-2-block {
		padding: 15px 7px;
	}
	.v-3-block {
		padding: 3px;
	}
	.urlint-text,.refusal-text {
		line-height: 1.2;
	}
	#buttons {
		margin-top: 0;
	}
	#btn_ok,#cancel {
		padding: 5px 0;
	}
	#text-choice-more {
		font-size: 0.7em;
		margin: 0 auto 5px auto;
	}
	#frameLuxtrust {
		width: 100%;
		height: 100%;
	}
}

@media ( max-width : 360px) , ( max-device-width : 736px) {
	body {
		font-size: 18px;
	}
	#choice>.ui-block-a,#choice>.ui-block-b,#choice1>.ui-block-a,#choice>#qr-block,#choice>#instructions,#choice>#ucr-block
		{
		width: 100%;
	}
	.choice-auth {
		border-bottom: 1px solid #e9eaea !important;
	}
	.choice-auth.left {
		border-right: none !important;
	}
	#links {
		display: none;
	}
	#links2 {
		display: block !important;
		margin: 5px 0;
		text-align: right;
	}
	#choice1 {
		display: none
	}
	#hidden-first-auth-block {
		display: block !important;
	}
	#text-choice1,#text-choice2 {
		display: none;
	}
	.text-choice {
		width: 65%;
	}
	#links2 {
		font-size: 0.9em;
	}
	#ucr-block {
		display: none;
	}
	#instructions {
		font-size: 0.8em;
		width: 100%;
	}
}

/* Couleurs / Design KBC */
body {
	background: #FFFFFF;
	font-family: 'roboto', verdana;
}

#page {
	background: #FFFFFF;
}

#header-block {
	background: #FFFFFF;
}

#header {
	background: #FFFFFF;
}

#links,#links2 {
	background: #FFFFFF;
}

.language,#help-link,#spare-link,.label-context,#cancel,.step,#text-choice-more,.urlint-text,.refusal-text
	{
	color: #666;
}

.label-context {
	font-weight: bold;
}

.active {
	background: none repeat scroll 0 0 #00adee;
	color: #ffffff !important;
}

.title {
	background: #FFFFFF;
	color: #00adee;
	border-top: 1px solid #e9eaea;
	border-bottom: 1px solid #e9eaea;
}

#context {
	background: #FFFFFF;
}

#authentication {
	background: #F4F5F7;
}

.ui-input-text {
	background: #FFFFFF;
	border-color: #e1e2e4;
}

#buttons {
	background: #FFFFFF;
}

#btn_ok {
	background: #009966;
	color: #FFFFFF;
}

#cancel {
	background: #e9eaea;
}

.paymentoptions-circle,.paymentoptions-circle-big {
	background: none repeat scroll 0 0 #c9d1dc;
}

.step {
	border-bottom: 1px solid #e9eaea;
}

.choice-auth.top {
	border-bottom: 2px solid #e9eaea;
}

.choice-auth.left {
	border-right: 2px solid #e9eaea;
}

.choice-auth:hover,#block-choice1:hover,#choice1:hover {
	background: none repeat scroll 0 0 #00adee;
	cursor: pointer;
}

.text-choice,#text-choice1,.text-choice-detail {
	color: #00adee;
}

#block-choice1 {
	border-right: 2px solid #e9eaea;
}

#block-choice1:hover #text-choice-more,#block-choice1:hover .text-choice,#choice1:hover .text-choice,#block-choice1:hover #text-choice1,.choice-auth:hover  .text-choice,#block-choice1:hover .text-choice-detail,.choice-auth:hover .text-choice-detail,#choice1:hover .text-choice-detail
	{
	color: #ffffff;
}

.arrow-right {
	background: none repeat scroll 0 0 #00adee;
}

@font-face {
	font-family: 'roboto';
	src: url('./fonts/kbc/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('./fonts/kbc/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

select {
	background: #e9eaea;
	border: 1px outset black;
	border-radius: 3px;
	padding: 2px;
}